 /* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Main Styling */
html body{
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.7em;
    color: #2d2f39;
}
ul{
    list-style-type: none;
}
a{
    color: #333;
    text-decoration: none;
}
h1,h2,h3{
    color: #007690;
}
h2{
    padding-bottom: 1rem;
}
.btn{
    display: inline-block;
    color: #fff;
    background:#007690;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Utility classes*/
.text-primary{
    color: #5f7494;
}
.light-blue{
 color: #49bfd6;
}
.white{
    color: #fff;
}
.pink{
    color: #c73181;
}
.bold{
    font-weight: bold;
}
.box-element{
    margin: 1.2rem 0;
}
/* padding */
.padding-base{
    padding:0.5rem 0;
}
.padding-medium{
    padding: 1rem 0;
}
.padding-high{
    padding: 2rem 0;
}
/* Navbar */ 
header{
    position: sticky;
    top: 0;
    background: #fff;
    border-bottom: 1px solid #e0e5ed;
    padding: 0.5rem;
}
header,
#menu{
    z-index: 100;
}
#flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* Navbar button */
#container {
    cursor: pointer;
    margin: auto 0;
  }
  .strip1, .strip2, .strip3 {
	width: 35px;
	height: 5px;
	background-color: #666666;
	margin: 6px 0;
	transition: 0.4s;
  }
  .change .strip1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
  }
  .change .strip2 {opacity: 0;}

  .change .strip3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
  }
/* Nav elements*/
.desktop{
    display: none;
}
.active{
    color: #c93384;
}
nav{
    top: 10%;
    position: sticky;
    text-align: center;
    background: #f6f6f6;
    display: none;
}
nav li{
    padding: 35px 0px 35px 0px;
    border-bottom: 1px solid #e0e5ed;
}
/*content elements*/
#landing{
    width: 85%;
    margin: auto;
}
#landing .illustration img{
    width: 90%;
    margin: auto;
}
#modality img{
    height: 1.2rem;
}
#info-box{
    border-radius: 10px;
    border: 1px solid rgba(199,49,129,0.5);
    background:  rgba(199,49,129,0.12);
    padding: 15px;
    text-align: center;
}
#modal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
#modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 1rem;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
  }
/* close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*Gallery*/
#showcase{
    margin-top: 2rem;
}
#showcase h2{
    text-align: center;
}
#gallery-container{
    background: #333;
    width: 98%;
    margin: auto;
}
#zoom-img img{
    width: 100%;
}
#gallery{
    height: 4.0625rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
#gallery::-webkit-scrollbar{
    display: none;
}
#gallery img{
    display: inline-block;
    height:100%;
}
#zoom-img{
    position: relative;
}
#gallery img:hover{
    cursor: pointer;
    opacity: 50%;
}
.prev,
.next{
    top: 45%;
}
.next{
    right: 10px;
}
.prev{
    left: 10px;
}
.prev,
.next{
    cursor: pointer;
    position: absolute;
    font-size: 3.5rem;
}
/*Carousel of feedback*/
.feedback-container{
    position: relative;
}
#carousel{
    background: #007690;
    margin-top: 1.5rem;
}
#carousel h2{
    text-align: center;
}
.feedback{
    background: #ffffff;
    border: 1px solid #edf0f2;
    border-radius: 6px;
    text-align: center;
    width: 65%;
    margin: auto;
}
#carousel .feedback img{
    width: 4.5rem;
    border-radius: 50%;
}
/*général form styling*/
#form h2,
.form-info h2,
.info-element h2{
    font-size: 1.2rem;
}
.form-info{
    margin: auto;
    text-align: justify;
}
input{
    border:1px solid #e4e9ec;
    border-radius: 5px;
    padding: 1.2rem 1.6rem;
}
textarea{
    border:1px solid #e4e9ec;
    resize: none;
}
input:focus,textarea:focus{
    border: 1px solid #007690;
}
input, textarea{
    display: block;
    width: 100%
}
label{
    color: #5f7494;
    font-size: small;
    font-weight: bold;
}
fieldset{
    border: none;
}
.attached-label, #rgpd{
    display: inline-block;
    width: auto;
    padding-right: 0.5rem;
}
.submit{
    width: auto;
    margin: 1rem 0;
}
/*programme*/
#programme{
    width: 85%;
    margin: auto;
}
.primary-list p{
    font-weight: bold;
}
/*Contact*/
#contact-info h1,
.info{
    width: 90vw;
    margin: auto;
}
#contact-info h1{
    padding: 2rem 0;

}
.info-message{
    width: 90vw;
    margin: auto;
    padding-top: 1.2rem;
}
.info-message img{
    width: 100%;
    display: none;
}
.flex-box form{
    width: 90vw;
    margin: auto;
}
/*Footer*/
footer{
    border:1px solid #e4e9ec;
    text-align: center;
}
#legal{
    text-align: center;
}
#partner{
    text-transform: uppercase;
    font-weight: bold;
}
#partner img{
    width: 5.2rem;
}
#partner-logo{
    margin: 0 1.5rem;
}
#info h3, #info h2{
    color: #2d2f3f;
}
/*footer of footer*/
footer{
    background: #f7fafe;
}
@media (min-width:769px){
    /*Nav bar*/
    header{
        display: flex;
        justify-content: space-between;
    }
    /*Nav boutton*/
    #container{
        display: none;
    }
    /*Nav elements*/
    .desktop{
        display: inline-block;
        background: none;
    }
    .desktop ul li{
        display: inline-block;
        border: none;
        padding:  1rem 1rem;
    }
    /*content elements*/
    .illustration{
        width: 40%;
        margin: auto; 
        padding: 0.5rem;
    }
    #landing .illustration{
        padding-top: 1.2rem;
    }
    .box-element{
        width: 40%;
    }
    .flex-box{
        display: flex;
        flex-direction: row;
        margin-top: 1.5rem;
    }
    #modality{
        width: 40%;
    }
    #info-box{
        width: 40%;
        margin: auto;
        padding: 1.5rem;
    }
    .info-element{
        width: 45%;
    }
    /*gallery*/
    #gallery-container{
        width: 54%;
    }
    /*Contact form*/
    .flex-box form{
        width: 40%;
    }
    .info{
        display: flex;
        flex-direction: row;
    }
    .info-element{
        text-align: center;
    }
    .info-message img{
        display: block;
        padding-top: 2rem;
    }
    .info-message h2{
        padding-top: 0;
    }
    .info-message{
        width: 40%;
        margin: auto;
        margin-top: 0;
    }
    /*Footer*/
    #partner, #info{
        width: 45%;
    }
    footer{
        display: flex;
        flex-direction: row;
    }
    #legal{
        text-align: center;
        display: block;
    }
}